
    body {
    font-family: 'Lexend', sans-serif;
    background-color: #151515;
    color: #e0e0e0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #272727;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 400px;
}

h1 {
    margin-bottom: 20px;
    color: #FF640A;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 20px;
    border: none;
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    background-color: #414141;
    color: #e0e0e0;
}

select option {
    background-color: #272727;
    color: #e0e0e0;
    padding: 10px;
    font-family: 'Lexend', sans-serif;
}

select option:hover {
    background-color: #FF640A;
    color: white;
}

.btn-find { 
    background-color: #FF640A; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 15px; 
    cursor: pointer; 
    font-size: 16px; 
    width: 100%; 
    transition: 0.3s; 
    font-family: 'Lexend', sans-serif;
}

.btn-find:hover { 
    background-color: #d73200; 
}

.btn-reset {
    background-color: #414141;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 12px;
    opacity: 0.7;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    transition: 0.3s;
    font-family: 'Lexend', sans-serif;
}

.btn-reset:hover {
    background-color: #FF640A;
    opacity: 1;
}

#resultats { 
    margin-top: 30px; 
    text-align: left; 
}

.card { 
    background-color: #414141; 
    padding: 15px; 
    margin-top: 10px; 
    border-radius: 8px; 
    border-left: 5px solid #FF640A;
}

.card:hover { 
    background-color: #555555;
    transform: scale(1.02);
    transition: 0.3s;
}

.score { 
    float: right; 
    font-weight: bold; 
    color: #FF640A; 
}